.file-tree {
  user-select: none;
}

.file-tree__header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.file-tree__header__icon {
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
}

.file-tree__header__icon:hover {
  color: #000;
  background: #25172a0d;
}
